<!-- <h1 ng-repeat="cluster in master.clusters">
	{{cluster.cluster}}
</h1> -->
<style>
	.z-depth-0 {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}
.border-radius-0{
	border-radius: 0% 3px 3px 0%;
}
.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}
.btn-show-hide.ng-hide-add,
.btn-show-hide.ng-hide-remove {
  transition: all linear 10ms;
}
.ng-cloak { display: none !important; }
</style>
<!-- MODAL-START -->
<div id="editDescTypeActivity-modal" class="modal">
	<div class="modal-content" style=" padding-top: 0px; padding-left: 0px; padding-right: 0px">
		<ul class="collection with-header" style="margin-top:0">
			<li class="collection-header teal lighten-1" style="border-bottom: 0">
				<h5 style="color: #ffffff;font-weight:300;">
					<i class="material-icons left" style="font-size: 25px">{{ list.icon }}</i>
					Edit Activity Description
				</h5>
			</li>
		</ul>

		<div class="row" style="margin: 20px 50px 10px 50px;">
									<div class="input-field col s12 m12">
										<input id="ngm-act-desc" placeholder="New Decription Activity" ng-model="master.activities[editedId].activity_description_name" type="text"
										 name="add_description" class="validate">
										<label class="active" for="ngm-project_code"> Description *</label>
									</div>
									
									
								</div>
		<div class="row" style="margin: 20px 50px 10px 50px;">
			<p style="color:#26a69a;font-weight: 400; padding-left: 10px">Field Active*</p>
			<div class="col s3" ng-repeat="(key,value) in fields">
				<input type="checkbox" class="filled-in" id="{{key}}-edit"
				 ng-checked="master.activities[editedId][key] != 0" ng-click="master.editFieldDescModal(key)"/>
				<label for="{{key}}-edit" style="color: #000000; font-weight: 500;">{{value}}</label>
			</div>
		</div>
								

	</div>
	<div class="modal-footer">
		<div class="modal-action modal-close wave-effects wave-red red darken-1 btn" style="margin-left:10px;margin-right: 25px">Close</div>
		<div class="modal-action modal-close wave-effects wave-green btn sbtn" ng-click="master.editAct()">Save</div>
	</div>
</div>
<div id="addDescTypeActivity-modal" class="modal">
	<div class="modal-content" style=" padding-top: 0px; padding-left: 0px; padding-right: 0px">
		<ul class="collection with-header" style="margin-top:0">
			<li class="collection-header teal lighten-1" style="border-bottom: 0">
				<h5 style="color: #ffffff;font-weight:300;">
					<i class="material-icons left" style="font-size: 25px">{{ list.icon }}</i>
					Edit Activity Description
				</h5>
			</li>
		</ul>

		<div class="row" style="margin: 20px 50px 10px 50px;">
			<div class="input-field col s12 m12">
				<input id="ngm-act-desc" placeholder="New Decription Activity" ng-model="master.templateAddDescription.activity_description_name"
				 type="text" name="add_description" class="validate">
				<label class="active" for="ngm-project_code"> Description *</label>
			</div>


		</div>
		<div class="row" style="margin: 20px 50px 10px 50px;">
			<p style="color:#26a69a;font-weight: 400; padding-left: 10px">Field Active*</p>
			<div class="col s3" ng-repeat="(key,value) in fields">
				<input type="checkbox" class="filled-in" id="{{key}}-add" value={{master.templateAddDescription[key]}} ng-checked="master.templateAddDescription[key] != 0"
				 ng-click="master.setFieldDescModal(key)" />
				<label for="{{key}}-add" style="color: #000000; font-weight: 500;">{{value}}</label>
			</div>
		</div>


	</div>
	<div class="modal-footer">
		<div class="modal-action modal-close wave-effects wave-red red darken-1 btn" style="margin-left:10px;margin-right: 25px">Close</div>
		<div class="modal-action modal-close wave-effects wave-green btn sbtn" ng-click="master.addNewDescOfTypeActivityModal()">Save</div>
	</div>
</div>
<div id="addTypeActivity-modal" class="modal">
	<div class="modal-content" style=" padding-top: 0px; padding-left: 0px; padding-right: 0px">
		<ul class="collection with-header" style="margin-top:0">
			<li class="collection-header teal lighten-1" style="border-bottom: 0">
				<h5 style="color: #ffffff;font-weight:300;">
					<i class="material-icons left" style="font-size: 25px">{{ list.icon }}</i>
					Add Activity Type
				</h5>
			</li>
		</ul>

		<div class="row" style="margin: 20px 50px 10px 50px;">
			<div class="input-field col s12 m12">
				<input id="ngm-act-desc" placeholder="New Type Activity" ng-model="master.templateAddType.activity_type_name"
				 type="text" name="add_type" class="validate">
				<label class="active" for="ngm-project_code"> Activity Type Name *</label>
			</div>
		</div>


	</div>
	<div class="modal-footer">
		<div class="modal-action modal-close wave-effects wave-red red darken-1 btn" style="margin-left:10px;margin-right: 25px">Close</div>
		<div class="modal-action modal-close wave-effects wave-green btn sbtn" ng-click="master.addNewTypeActivityModal()">Save</div>
	</div>
</div>
<div id="active-modal" class="modal">
	<div class="modal-content" style=" padding-top: 0px; padding-left: 0px; padding-right: 0px">
		<!-- <div class="modal-content"> -->
			<h4 style="color: #009688 ; font-weight:100; padding-top: 20px;margin-bottom: 10px">
				<i class="material-icons medium left">notifications</i>Activate Activity
			</h4>
			<p style="padding-left: 76px;">Activate this Activity?</p>

	</div>
	<div class="modal-footer">
		<div class="modal-action modal-close wave-effects wave-red red darken-1 btn" style="margin-left:10px;margin-right: 25px">Close</div>
		<div class="modal-action modal-close wave-effects wave-green btn sbtn" ng-click="master.activatedActInCluster();">Set</div>
	</div>
</div>
<div id="deactive-modal" class="modal">
	<div class="modal-content" style=" padding-top: 0px; padding-left: 0px; padding-right: 0px">
		<!-- <div class="modal-content"> -->
		<h4 style="color: #bdbdbd ; font-weight:100; padding-top: 20px;margin-bottom: 10px">
			<i class="material-icons medium left">notifications_off</i>Deactivate Activity
		</h4>
		<p style="padding-left: 76px;">Deactivate this Activity?</p>

	</div>
	<div class="modal-footer">
		<div class="modal-action modal-close wave-effects wave-red red darken-1 btn" style="margin-left:10px;margin-right: 25px">Close</div>
		<div class="modal-action modal-close wave-effects wave-green btn sbtn" ng-click="master.deactivatedActInCluster()">Set</div>
	</div>
</div>
<div id="remove-modal" class="modal">
	<div class="modal-content" style=" padding-top: 0px; padding-left: 0px; padding-right: 0px">
		<!-- <div class="modal-content"> -->
		<h4 style="color: #E57373 ; font-weight:100; padding-top: 20px;margin-bottom: 10px">
			<i class="material-icons medium left">delete</i>Delete Activity
		</h4>
		<p style="padding-left: 76px;">Delete this Activity?</p>

	</div>
	<div class="modal-footer">
		<div class="modal-action modal-close wave-effects wave-red red darken-1 btn" style="margin-left:10px;margin-right: 25px">Close</div>
		<div class="modal-action modal-close wave-effects wave-green btn sbtn" ng-click="master.removeAct()">Set</div>
	</div>
</div>
<!-- MODAL-END -->
<div class="card z-depth-1" style="padding:5% 50px 1% 50px !important;" ng-repeat="cluster in master.clusters"  ng-init="$clusterIndex=$index" >
				
	<!-- btn as title! -->
		<a class="btn border-radius-0 z-depth-0 blue" style="left:-1px;top:10px;position:absolute;pointer-events:none;font-size: 16px">{{cluster.cluster}}</a>
		<a class="" style="right:20px;top:15px;position:absolute;font-size: 30px;cursor: pointer;" >
			<i ng-if="!clusterCard[$clusterIndex]" class="material-icons" ng-click="openCluster($clusterIndex)" style="font-size: 35px">
			keyboard_arrow_down
			</i>
			<i ng-if="clusterCard[$clusterIndex]" class="material-icons" ng-click="closeCluster($clusterIndex)" style="font-size: 35px">
				keyboard_arrow_up
			</i>
		</a>
		<div ng-repeat=" act in master.activity_type" ng-show="clusterCard[$clusterIndex]" class="animate-show-hide">
			<div   style="margin-top: 20px;"			
			ng-if="cluster.cluster_id === act.cluster_id && clusterCard[$clusterIndex]"
				ng-init="$typeIndex=$index"
				>

					<h5 class="type-title" style="color: teal; font-weight: 400">
						<i class="material-icons left" >book</i>
						{{act.activity_type_name}}
					</h5>
					
					<div style="margin-left: 40px; margin-bottom: 10px" >
						<div class="row" ng-repeat=" description in master.activities | filter:{ cluster_id:cluster.cluster_id,activity_type_name:act.activity_type_name}|
						filterDuplicate:'activity_description_name' track by $index" >
							<div class="col s12 m8">
								<p class="title truncate " style="font-weight: 600">{{description.activity_description_name}}</p>
							</div>
							<div class="col s12 m4 center" style="margin-top: 5px">
								<button class="btn-floating waves-effect"
									ng-if="fullAccess"
									ng-click="master.openModal('editDescTypeActivity-modal');master.modifRecord(description)">
									<i class="material-icons">
										edit
									</i>
								</button>
								<button class="btn-floating waves-effect tooltipped " 
									ng-click="master.openModal('deactive-modal');master.modifRecord(description)"
									data-position="bottom" data-tooltip="Active" 
									style="margin-top: 5px"  
									ng-if="description.admin0pcode.indexOf(master.user.admin0pcode)!==-1">
										<i class="material-icons ">
											notifications
										</i>
								</button>
								<button class="btn-floating waves-effect  grey lighten-1 tooltipped" 
									ng-click="master.openModal('active-modal');master.modifRecord(description)" 
									data-position="bottom" 
									data-tooltip="Not-active" 
									style="margin-top: 5px" 
									ng-if="description.admin0pcode.indexOf(master.user.admin0pcode)==-1">
									<i class="material-icons" >
										notifications_off
									</i>
								</button>
								<button class="btn-floating waves-effect red" 
									style="margin-top: 5px" 
									ng-if="fullAccess"
									ng-click="master.openModal('remove-modal');master.modifRecord(description)">
										<i class="material-icons" >
											clear
										</i>
								</button>
							</div>
						</div>
					</div>

							<!-- ADD NEW DESCRIPTION OF TYPE ACTIVITY-->
					<div  ng-if="activeNewDescForm[$typeIndex]"class="card" style="padding: 20px">
									<div class="row">
										<div class="input-field col s12 m10">
											<input id="ngm-act-desc-{{$typeIndex}}" placeholder="New Decription Activity" ng-model="master.originType[$typeIndex].activity_description_name" type="text"
											name="add_description" class="validate">
											<label class="active" for="ngm-project_code"> Description *</label>
										</div>
										<div class="input-field col s12 m2">
											<div style="margin-top: 10px">
												<button class="btn waves-effect dbtn" ng-click="master.addNewDescOfTypeActivity(act,$typeIndex);ofOffD($typeIndex)">
													<i class="material-icons">add</i>
												</button>
												<button class="btn blue waves-effect dbtn" ng-click="ofOffD($typeIndex)">
													<i class="material-icons">clear</i>
												</button>
											</div>
										</div>
										<div class="col m10">
											<p style="color:#26a69a;font-weight: 400; padding-left: 10px">Field Active*</p>
											<div class="col s3" ng-repeat="(key,value) in fields">
												<input type="checkbox" class="filled-in" id="{{key}}-desc-{{$typeIndex}}" value={{master.originType[$typeIndex][key]}} ng-checked="master.originType[$typeIndex][key] != 0"
												 ng-click="master.setFieldDesc(key)" />
												<label for="{{key}}-desc-{{$typeIndex}}" style="color: #000000; font-weight: 500;">{{value}}</label>
											</div>
										</div>
									</div>
					</div>
					<button ng-if="fullAccess" class="btn blue" style="margin:20px 40px;" ng-click="master.openModal('addDescTypeActivity-modal');master.reset($typeIndex);master.setAdd($typeIndex)">
					<!-- <button class="btn blue" style="margin:20px 40px;" ng-click="onOffD($typeIndex);master.reset($typeIndex);master.setAdd($typeIndex)"> -->
						<i class="material-icons left">add</i>Add description
					</button>
			</div>
		</div>
		<!-- ADD NEW TYPE ACTIVITY -->
		<div ng-if="activeNewTypeForm[$clusterIndex]" class="card" style="padding: 20px">
			<div class="row" >
				<div class="input-field col s12 m10">
					<input id="ngm-act-type" placeholder="New Activity Type" ng-model="master.templateAddType.activity_type_name" type="text" name="add_activity_type" class="validate">
					<label class="active" for="ngm-project_code"> Activity Type Name *</label>
				</div>
				<div class="input-field col s12 m2">
					<div style="margin-top: 10px">
						<button class="btn waves-effect tbtn" ng-click="master.addNewTypeActivity(cluster.cluster_id,cluster.cluster,$clusterIndex);ofOff($clusterIndex)" >
							<i class="material-icons">add</i>
						</button>
						<button class="btn blue waves-effect tbtn" ng-click="ofOff($clusterIndex)">
							<i class="material-icons">clear</i>
						</button>
					</div>
				</div>
			</div>
		</div>

		<button ng-show ="clusterCard[$clusterIndex] && fullAccess" class="btn btn-show-hide" style="margin:20px 0px;" ng-click="master.openModal('addTypeActivity-modal');master.setClusterType(cluste.cluster,cluster.cluster_id)">
					<i class="material-icons left">add</i>Add Type
		</button>
</div>

<div class="row remove" ng-if="project.definition.project_status !== 'complete'">
	<div class="col s12 m12 l12">
		<div class="widget card-panel white grey-text text-darken-2">

			<!-- submission -->
			<div align="center">
				<button data-target="save-modal" class="waves-effect waves-light btn" ng-click="master.save()" ng-cloak>
					<i class="material-icons right">send</i>Save</button>

				<!-- cancel new -->
				<button data-target="list-modal" class="waves-effect waves-light btn modal-trigger grey" ng-if="project.definition.project_status === 'new' ">Draft
				</button>

				<!-- cancel update -->
				<button data-target="summary-modal" class="waves-effect waves-light btn modal-trigger grey" >Deploy
				</button>

			</div>

		</div>
	</div>
</div>

<script>
		setTimeout(function () {
			$('.tooltipped').tooltip();

			$(".tbtn").click(function () {
					$('input[name=add_activity_type').val('');
					console.log("A")
			})
	
			$(".dbtn").click(function () {
					$('input[name=add_description').val('');
					console.log("B");
				})
		},400)

</script>