<style>
	.card-content{
	background-color: #2196f3;
	}
	.card__meta{
		margin-bottom: 20px;
	}
	.tag-title{
		color: #039be5;
		font-weight: 500;		
		position: absolute;
    top: 5px;
    left: -1px;
		height: 30px;
    line-height: 33px;"
	}
	.card .card-title {
    font-size: 20px;
    font-weight: 300;
}
</style>
<div class="row">
	<div class="col s12 m6 l4">
		<div class="card">
			<div class="card-content white-text">
				<div class="card__meta">
					<a href="#/cluster/admin/activities" class="btn white tag-title">
						 ACTIVITIES</a>
				</div>
				<span class="card-title">
					2019-2020
				</span>
			</div>
			<div class="card-action">
				<a href="#/cluster/admin/activities" style="color: #039be5;">
					Go To 
				</a>
			</div>
		</div>
	</div>
	<div class="col s12 m6 l4">
		<div class="card">
			<div class="card-content white-text">
				<div class="card__meta">
					<a href="#/cluster/admin/activities"  class="btn white tag-title">
						ACTIVITIES</a>
				</div>
				<span class="card-title">
					March 21, 2019 - June 21, 2019
				</span>
			</div>
			<div class="card-action">
				<a href="#/cluster/admin/activities" style="color: #039be5;">
					Go To 
				</a>
			</div>
		</div>
	</div>
	<div class="col s12 m6 l4">
		<div class="card">
			<div class="card-content white-text">
				<div class="card__meta">
					<a href="#/cluster/admin/activities" class="btn white tag-title">
						 ACTIVITIES</a>
				</div>
				<span class="card-title">
					March 21, 2019 - June 21, 2019
				</span>
			</div>
			<div class="card-action">
				<a href="#/cluster/admin/activities" style="color: #039be5;">
					Go To 
				</a>
			</div>
		</div>
	</div>
</div>