<style>
	.dropdown-content {
		max-height: 310px;
	}

	typeahead .dropdown-content {
		max-height: 185px;
	}

	.carousel {
		min-height: 640px;
	}

	.carousel .indicators .indicator-item {
		background-color: rgba( 187, 222, 251, 0.5);
	}

	.carousel .indicators .indicator-item.active {
		background-color: #2196F3;
	}

	.icon {
		padding-top: 10px;
	}

	.icon .card {
		width: 150px;
		height: 150px;
		padding: 30px 0px 0px;
		border-radius: 50% !important;
		margin: 10px auto;
	}

	.title {
		margin: 20px 0px 10px;
		font-weight: 100;
	}

	form {
		padding: 0px 20% !important;
	}

	li {
		padding-bottom: 10px;
	}

	.input-field .prefix {
		padding-top: 8px;
		color: #616161;
	}

	.helpers {
		font-size: 1.3rem !important;
		margin-top: 0px;
		padding-bottom: 4px;
		cursor: pointer;
	}

	.action {
		padding-top: 20px;
	}
</style>
<div class="row">
	<div class="col s12 m12 l8 offset-l2">

		<form name="imoLoginForm" novalidate style="padding:0px !important;">

			<div class="card z-depth-1" style="padding:0px 20% 5% !important;">

				<div class="icon center">
					<div class="card">
						<img title="Profile" src="images/registration.png" width="110%" style="margin-left:-9px;" />
					</div>
					<h5 class="title">Login</h5>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">supervisor_account</i>
						<input id="ngm-username" type="text" class="validate" ng-model="panel.user.username" ng-disabled="panel.formDisabled" required>
						<label for="ngm-username">Username</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">lock_outline</i>
						<input id="ngm-password" type="password" class="validate" ng-model="panel.user.password" required>
						<label for="ngm-password">{{'password' | translate}}</label>
					</div>
				</div>
					<p class="helpers left" style="margin-top:10px">
						<a style="color: #ffab40;" href="#/immap/reporting/reset-send"> {{'forgot_password' | translate}}?</a>
					</p>
					<p class="helpers right" style="margin-top:10px">
						<a style="color: #be2126;" href="#/immap/reporting/register">{{'register_mayus' | translate}} </a>
					</p>
					<div class="action center">
						<button type="submit" id="login-register" class="btn btn-large waves-effect waves-teal" ng-disabled="imoLoginForm.$invalid"
						 ng-click="panel.login(imoLoginForm)">
							<i class="material-icons right">keyboard_arrow_right</i>
							{{'login' | translate}}!
						</button>
					</div>

			</div>

		</form>

	</div>
</div>
<div class="row">
	<!-- footer -->
	<div style="background: {{ panel.style.lightPrimaryColor }}; height:20px;"></div>
	<div style="background: {{ panel.style.defaultPrimaryColor }}; height:60px;">
		<p class="ngm-menu-footer-body">Supported by
			<a class="grey-text" href="http://immap.org">
				<b>iMMAP</b>
			</a>
		</p>
	</div>
</div>
<script>
	setTimeout(function () {
		$('select').material_select();
		// $('.carousel.carousel-slider').carousel({ full_width: true });
	}, 100);
</script>