<!-- bind html -->
<a class="btn-flat waves-effect waves-teal left hide-on-small-only" href="#/immap/reporting">
	<i class="material-icons left">keyboard_return</i>{{'back'|translate}}
</a>

<a title="Report This Month" class="waves-effect waves-light btn right" ng-click="panel.getCurrentMonth()"
 target="_blank">
	<i class="material-icons left">refresh</i>Current Month
</a>

<a title="Report Previous Month " style="margin-right:20px;" class="waves-effect waves-light btn blue right" ng-click="panel.getPreviousMonth()">
	<i class="material-icons left">skip_previous</i>Previous Month
</a>


<span class="right" style="padding-right: 10px; padding-top:8px;">{{'last_updated'|translate}}: {{ panel.data.timestamp_format }}</span>