<style>
	.icon .card {
		width: 150px;
		height: 150px;
		padding: 30px 0px 0px;
		border-radius: 50% !important;
		margin: 10px auto;
	}
</style>
<div class="row">
	<div class="col s12 m12 l8 offset-l2">
		<div class="card z-depth-1" style="padding:5% 5% !important;">
			<div class="icon center">
				<div class="card">
					<img title="Profile" src="images/registration.png" width="110%" style="margin-left:-8px;" />
				</div>
				<h5>Please Go To Your Immap Email to</h5>
				<h5>Activate Your Account :)</h5>
			</div>
		</div>
	</div>
</div>