<!-- bind html -->
<!-- <span class="left" style="padding-top:8px;">Lastest Report Update: {{ panel.data.updatedAt }} by {{ panel.data.organization }}</span> -->

<!-- button months -->
<div class="right">
	<a class="waves-effect waves-light btn teal " ng-click="panel.uploadDocProject()" title="GoTo Previous Month">
		<i class="material-icons left">cloud_upload</i>Upload Project Document</a>
	<a class="waves-effect waves-light btn teal" style="padding-left:20px;" ng-click="panel.uploadDocReport()" title="GoTo Current Month">
		<i class="material-icons left">cloud_upload</i>Upload Report Document</a>
</div>