
<!-- bind html -->
<!-- <span class="left" style="padding-top:8px;">{{'lastest_report_update'| translate}} {{ panel.data.updatedAt }} {{'by' | translate}} {{ panel.data.organization }}</span> -->
<span ng-if="!rtlClass" class="left" style="padding-top:8px;">{{'lastest_report_update'| translate}} {{ panel.data.updatedAt }} {{'by' | translate}} {{ panel.data.organization }}</span>
<span ng-if="rtlClass" class="left" style="padding-top:8px;">{{ panel.data.organization }} {{'by' | translate}} &#x202a; {{ panel.data.updatedAt }} &#x202c; :{{'lastest_report_update' | translate}}</span>
<!-- <a class="waves-effect waves-light btn right" href="#/cluster/dashboard4wplus" title="Reset Dashboard"><i class="material-icons left">cached</i>{{'reset' | translate}} Dashboard</a> -->
<a class="waves-effect waves-light btn right" href="#/cluster/dashboard4wplus" title="Reset Dashboard"><i class="material-icons" ng-class="{'left':!rtlClass,'right':rtlClass}">cached</i>{{'reset_dashboard'|translate}}</a>