<div class="row hide-on-small-only">
    <div class="col s12 m12 l12">
        <div>
            <a class="btn-flat waves-effect waves-teal" href="{{panel.urlHref}}">
                <i class="material-icons left">keyboard_return</i>{{'back_to_team'|translate}}</a>
            <span ng-if="!rtlClass" class="right" style="padding-top:8px;">{{'last_updated' | translate}}: &#x202a;
                {{panel.dateUpdate}} &#x202c; </span>
            <span ng-if="rtlClass" class="right" style="padding-top:8px;">&#x202a; {{panel.dateUpdate}} &#x202c;
                :{{'last_updated' | translate}}</span>
        </div>
    </div>
</div>