<div class="row">

    <div class="col s12 m4">
        <a href="#/cluster/organization">
            <div class="card small blue-grey darken-1 hoverable">
                <div class="card-image">
                    <img src="images/cluster/projects-1.jpg">
                </div>
                <div class="card-content white-text">
                    <p class="card-title">CLUSTER</p>
                </div>
                <div class="card-action">
                    <a href="#/cluster/organization">GO TO Cluster
                    </a>
                </div>
            </div>
        </a>
    </div>

    <div class="col s12 m4">

        <a href="#/cluster/admin">
            <div class="card small blue-grey darken-1 hoverable">
                <div class="card-image">
                    <img src="images/cluster/reports.jpg">
                </div>
                <div class="card-content white-text">
                    <p class="card-title">DASHBOARD</p>
                </div>
                <div class="card-action">
                    <a href="#/cluster/admin">Go to DASHBOARD</a>
                </div>
            </div>
        </a>
    </div>

    <div class="col s12 m4">
        <a href="">
            <div class="card small blue-grey darken-1 hoverable">
                <div class="card-image">
                    <img src="images/cluster/projects.jpg">
                </div>
                <div class="card-content white-text">
                    <p class="card-title">LIST</p>
    
                </div>
                <div class="card-action">
                    <a class="left" href="">GO TO LIST</a>
                </div>
            </div>
        </a>
    </div>

</div>